{% extends "base.html" %}

{% block content %}

<div class="container text-center">
<br>
    <div class="row">
        <div class="col">
            <h2><i class="fa-solid fa-file"></i> Estoque de Entrada </h2>
        </div>
        <div class="col">
            <span class="pull-right">
                <a href="#">
                    <button type="button" class="btn btn-primary">
                        <span><i class="fa-solid fa-file-circle-plus"></i></span> Adicionar Entrada no Estoque
                    </button>
                </a>
            </span>
        </div>
    </div>
</div>
<br>
<br>

{% if object_list %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Registro</th>
                <th>NF</th>
                <th>Data de Entrada</th>
                <th>Funcionário</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                    </td>
                    <td>{{ object.nf_formated }}</td>
                    <td>{{ object.created }}</td>
                    <td>{{ object.funcionario.first_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <br>
    <h1 class="text-center">## Sem itens na lista ##</h1>

{% endif %}

{% endblock content %}