{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load static %}

{% block css %}
<style>
    span.required:after {
        content: " *";
        color: red;
    }
    .form-control {
      margin: 10px;
    }
    .legend {
      border-bottom: 1px solid #e5e5e5;
    }
</style>
{% endblock css %}

{% block content %}

<!-- Botão Voltar -->
<br>
<a href="{% url 'estoque:estoque_entrada_list' %}">
    <button type="button" class="btn btn-outline-primary">
        <span class="fa-solid fa-arrow-left-to-line"></span>
        Voltar para lista de Entradas
    </button>
</a>

<hr>

<!-- Start Form -->
<div class="row">
    <div class="col-sm-6">
        <form method="POST" novalidate>
            {% csrf_token %}
            <!-- Entrada de Estoque -->
            <legend class="legend">Entrada de Estoque</legend>

            <div class="row">
                <div class="col-sm-12">
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">
                                {% if field.field.required %}
                                    <span class="required">{{ field.label }}</span>
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </label>

                            {% render_field field class="form-control" %}
                            <br>

                            {% for error in field.errors %}
                                <span class="text-muted">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {{ formset.management_form }}
                </div>
            </div>


            <!-- Entrada de Produto dentro do Estoque -->
            <!--
            <legend class="legend">Adicionar produtos no estoque:</legend>
            -->

            <hr>

            <!-- Novo método de formulário 25/09/2022 -->
            <div class="row">
                <div class="col-sm-12">

                    <legend class="legend">Adicionar produtos no estoque:</legend>

                    <div id="estoqueitens" class="form-inline">
                        {% for form in formset %}
                            <div id="item-{{ forloop.counter0 }}" class="form-group">
                                {% render_field form.estoque data-field='estoque' %}
                                {{ form.estoque }}
                                {{ form.id }}

                                {{ form.produto.label }}
                                {% render_field form.produto class="form-control" hx-get="/estoque/produto/preco/" hx-target="#id_price" hx-swap="outerHTML" data-field='produto'%}

                                {{ form.quantidade.label }}
                                {% render_field form.quantidade class="form-control" data-field='quantidade' %}

                                {{ form.saldo.label }}
                                {% render_field form.saldo class="form-control" data-field='saldo' %}

                                {% if form.id.value %}
                                    <span
                                      class="span-is-link no ml-2 remove-row"
                                      hx-delete="{% url 'ecommerce:order_item_delete' order_item_form.id.value %}"
                                      hx-confirm="Deseja mesmo deletar o item {{order_item_form.id.value}}?"
                                      hx-target="#item-{{ forloop.counter0 }}"
                                      hx-swap="outerHTML"
                                    >
                                      <i class="fa fa-times fa-lg"></i>
                                    </span>
                                {% else %}
                                    <span class="span-is-link no ml-2" onclick="removeRow()">
                                      <i class="fa fa-times fa-lg"></i>
                                    </span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <!-- Comentado
            <div class="row">
                <div class="col-sm-12">
                    <legend style="border-bottom: 1px solid #e5e5e5">
                        Produtos
                    </legend>
                    <div id="estoque" class="form-inline">
                        {% for item_estoque_form in formset %}
                            <div id="item-{{ forloop.counter0 }}" class="form-group">
                                {{ item_estoque_form|bootstrap }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            -->

            <!-- Formulário alternativo de Produtos
            {% for form in formset %}
                <div class="inlineform">
                    {{ form }}
                    <hr>
                </div>
            {% endfor %}
            -->

            <!-- Botão -->
            <div class="row">
                <span
                    id="add-item"
                    class="btn btn-outline-primary"
                    style="margin-top: 20px;"
                    hx-get="{% url 'estoque:add_row_estoque_items_hx' %}"
                    hx-target="#estoqueitens"
                    hx-swap="beforeend"
                >
                    <i class="fa-solid fa-file-circle-plus"></i>
                    Adicionar Produto
                </span>
            </div>


<div class="row">
    <div class="col-sm-6" style="margin-top: 50px;">
        <div class="form-inline buttons">
            <button class="btn btn-success" value="Save">
                <i class="bi bi-file-plus-fill"></i>
                Salvar Entrada de Estoque
            </button>
            <a href="{% url 'estoque:estoque_entrada_list' %}" class="btn btn-danger">
                <i class="bi bi-x-square-fill"></i>
                Cancelar!
            </a>
        </div>
    </div>
</div>


        </form>
    </div>
</div>

{% endblock content %}

{% block js %}

<script type="text/javascript">
    $(function() {
        $('#.inlineform').formset({
            prefix: '{{ formset.prefix }}'
        });
    })
</script>

<script>

    document.body.addEventListener('htmx:configRequest, (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

</script>

{% endblock js%}